/* San Francisco Pro Text */
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Text-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* San Francisco Pro Display */
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../public/fonts/SanFranciscoPro/SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* San Francisco Ui Display */
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Ultralight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF-Ui-Display';
  src: url('../public/fonts/SanFranciscoUi/SF-Ui-Display-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  overflow-x: hidden;
  white-space: pre-line;
}

/** product slideshow dots indicator color when active **/
.indicator.active {
  background-color: var(--chakra-colors-chakra-border-color);
}
